
body {
    background: url('https://cdn.pixabay.com/photo/2016/11/01/22/34/rise-1789903_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


html {
    background: url('https://cdn.pixabay.com/photo/2016/11/01/22/34/rise-1789903_960_720.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    min-width: 300px;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 450%;
    text-align: center;

    text-align: center;

    color: rgba(11, 77, 22, .52);

    margin-top: 2em;
    margin-bottom: 4em;
}

#nav ul {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;

    margin-top: 200px;

    list-style-type: none;
}


#nav li {
    display: inline;
    margin: 0 15px;
    padding: 6px;
    padding: 5px;


    color: rgba(11, 77, 22, .52);
    text-align: center;
}

#nav li:hover {
    background-color: rgba(98, 71, 12, .15);
    padding: 1px 3px;
    border: 3px ridge rgba(0, 0, 0, .27);
    border-radius: 10px;
}

#header-text {
    position: relative;
    top: 25%;

    width: 60%;
    margin: 0 auto;

    text-align: center;
}


a:link {
    text-decoration: none;
}
