body {
    background: url('https://cdn.pixabay.com/photo/2016/11/01/22/34/rise-1789903_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 75px;

    text-align: center;

    color: rgba(11, 77, 22, .52);
}



#nav ul {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;

    margin-top: 200px;

    list-style-type: none;
}




#nav li {
    display: inline;

    margin: 0 15px;
    padding: 5px;

    color: rgba(11, 77, 22, .52);
    border: 3px ridge rgba(0, 0, 0, .27);
    border-radius: 10px;
}



#nav li:hover {
    background-color: rgba(98, 71, 12, .15);
}


#header-text {
    position: relative;
    top: 25%;

    width: 60%;
    margin: 0 auto;

    text-align: center;
}


a:link {
    text-decoration: none;
}
